<div class="card bg-dark mb-3">
  <div class="card-body text-white">
    <h5 class="card-title"><i class="fa fa-th text-muted"></i> <%- lang['Live Grid'] %></h5>
    <p class="card-text"><%- lang.liveGridDescription %></p>
    <a href="#" page-open="liveGrid" class="btn btn-primary"><%- lang.Open %></a>
  </div>
</div>
<div class="card bg-dark">
  <div class="card-body text-white">
    <h5 class="card-title"><i class="fa fa-gears text-muted"></i> <%- lang['Account Settings'] %></h5>
    <p class="card-text"><%- lang.accountSettingsDescription %></p>
    <a href="#" page-open="liveGrid" class="btn btn-primary"><%- lang.Open %></a>
  </div>
</div>
