<main class="page-tab pt-3" id="tab-powerVideo">
    <div class="row <%- define.Theme.isDark ? `dark` : '' %>" id="powerVideo">
        <%
          var drawBlock
          var buildOptions
        %>
        <%
            include fieldBuilders.ejs
        %>
        <% Object.keys(define['Power Viewer'].blocks).forEach(function(blockKey){
              var theBlock = define['Power Viewer'].blocks[blockKey]
              drawBlock(theBlock)
          }) %>
    </div>
    <link rel="stylesheet" href="<%-window.libURL%>assets/vendor/vis.min.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.powerVideo.css">
    <script src="<%-window.libURL%>assets/js/bs5.powerVideo.js"></script>
    <script src="<%-window.libURL%>assets/vendor/js/vis.min.js" async></script>
</main>
